body{
  background-color: rgb(2, 5, 23);

}
li{
  color:whitesmoke;
  width:10vw;
  height:1vh;
  margin:10px;
  padding: 10px;
  background-color: rgb(41, 2, 72);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
input{
  width:30vw;
  height:7vh;
  border-radius: 5px;
}
button{
  height:8vh;
  margin: 5px;
  background-image: linear-gradient(to right,blue,violet,pink);

}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color:aliceblue;
  
}
.allcontent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}